body, html {
  font-size: 16px;
  margin: 0px;
  min-height: 100vh;
}

button {
  /* margin: 8px; */
  padding-block: 8px;
  padding-inline: 16px;
  width: fit-content;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px;
}



.loading-section {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* Layout */

header {
  display: flex;
  padding-block: 8px;
  padding-inline: 16px;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

main > section {
  padding: 16px;
  border-radius: 4px;
  /* border: 1px solid lightgray; */
  width: 100%;
  max-width: 640px;
  box-sizing: border-box;
}



.card {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 16px;
}

.card-clickable {
  cursor: pointer;
  transition: background-color 0.1s ease-in;
}

.card-clickable:active {
  background-color: lightgray;
}

header.auth {
  position: fixed;
}

/* Landing page */

main.landing {
  align-items: flex-start;
}

/* Sign up/login */

main.auth {
  justify-content: center;
  height: 100vh;
}

main.auth > section {
  max-width: 320px;
}

main.auth > h2 {
  margin: 8px;
}

/* Input */



form {
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px !important;
}

input[type="text"], input[type="password"], input[type="email"] {
  padding-left: 8px;
  font-size: 1rem;
  padding-block: 8px;
}

select {
  padding-left: 8px;
  padding-block: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.link, a {
  cursor: pointer;
  text-decoration: none;
  color: #3072bd;
}

.text-btn {
  border: none;
  background-color: transparent;
  padding: 8px;
}

/* Typography */

.required {
  font-size: 12px;
}

.warn {
  color: firebrick;
}