body, html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0px;
  min-height: 100vh;
  height: 100%;
}

#root {
  height: 100%;
}

button {
  /* margin: 8px; */
  padding-block: 8px;
  padding-inline: 16px;
  width: fit-content;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px;
}



.loading-section {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/*--- Layout ---*/


/* Main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

main.app {
  padding: 8px;
}

main.landing {
  align-items: flex-start;
  padding: 8px;
}

main.landing > section {
  padding: 0px;
}

main > section {
  padding: 8px;
  /* border-radius: 4px; */
  /* border: 1px solid lightgray; */
  width: 100%;
  max-width: 640px;
  box-sizing: border-box;
}

main.app > section {
  padding: 0px;
}

section.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: none;
  width: 100%;
  margin-top: 64px;
  align-items: center;
}

section.auth > .form-container {
  width: 100%;
  max-width: 320px;
}

.card {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 16px;
}

main.app > section.card {
  padding: 8px;
}

.card-clickable {
  cursor: pointer;
  transition: background-color 0.1s ease-in;
}

.card-clickable:active {
  background-color: lightgray;
}

/* Header */

header {
  display: flex;
  padding-block: 8px;
  padding-inline: 8px;
  justify-content: space-between;
}

header.app {
  flex-wrap: wrap;
  gap: 8px;
}

header > nav > ul {
  flex-direction: row;
  align-items: center;
}

header > nav {
  margin-left: auto;
}

header > .greeting {
  display: flex;
  align-items: center;
}

.key-value-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

/* header.auth {
  position: fixed;
} */

/* Landing page */



/* Sign up/login */

main.auth {
  justify-content: center;
  height: 100vh;
}



main.auth > h2 {
  margin: 8px;
}

/* Input */

form {
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px !important;
}

input[type="text"], input[type="password"], input[type="email"] {
  padding-left: 8px;
  font-size: 1rem;
  padding-block: 8px;
}

input {
  flex-grow: 1;
}

select {
  padding-inline: 8px;
  padding-block: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container > .contents {
  display: flex;
  align-items: center;
  gap: 4px;
}

.link, a {
  cursor: pointer;
  text-decoration: none;
  color: #3072bd;
}

.heading-link {
  color: black;
}

.text-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 8px;
  font-size: 1rem;
}

.block {
  display: block;
}

.api-key-field {
  display: flex;
  gap: 4px;
}

.api-key-field > .status {
  margin-top: auto;
  margin-bottom: 9px;
}

/* Typography */

.required {
  font-size: 12px;
}

.warn {
  color: firebrick;
}

/* Misc */

.status {
  width: 16px;
  height: 16px;
  border-radius: 100px;;
}